*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1d2630;
    position: absolute;
    height: 35%;
    width: 340px;
    margin: auto;
    top: 50px;
    left: 0;
    right: 0%;
    padding: 30px 0;
    border-radius: 8px;
}

#newTask{
    position: relative;
    padding: 30px 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#newTask input{
    position: relative;
    width: 75%;
    border-radius: 5px;
    height: 35px;
    font-size: 15px;
    border: 2px solid #808373;
    padding: 12px;
    color: #111111;
    font-weight: 500;
}

#newTask input:focus{
    outline: none;
    border-color: #19A68C;
}

#newTask button{
    position: relative;
    float: right;
    width: 40px;
    height: 35px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    background:  #19A68C;
    color: #fff;
    border: none;
    cursor: pointer;
}

#tasks{
    position: relative;
    width: 100%;
    margin-top: 40px;
    background: #fff;
    padding: 30px 20px;
    border-radius: 5px;
}

.task{
    background: #fff;
    height: 50px;
    padding: 5px 10px;
    border-radius: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid  #808373;
}

.task span{
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;

}

.task button{
    border: none;
    height: 100%;
    background: #19A68C;
    width: 40px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    opacity: 0.7;
}